<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site was created by Mihai. It uses data from mapbox.com and darksky.net !</p>
    
    <img src="/img/husky-3380548_960_720.jpg">

    {{>footer}}
</body>

</html>